name: Pull Request Validation

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, edited]
  workflow_dispatch:

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python environment
        uses: ./.github/actions/setup-python-playwright

      - name: Run Tests
        id: run-tests
        continue-on-error: true
        run: python .github/scripts/run_tests.py

      - name: Report Tests Statuses
        if: always()
        run: python .github/scripts/write_summary.py --include-tests
